.app {
  text-align: center;
}

.nav-bar {
  padding: 10px 30px;
}

.navbar-brand {
  font-weight: 600;
  font-size: 22px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.framing-element-container {
  padding: 10px;
}

.framing-element {
  background-color: #f1f0ee;
  padding: 30px 20px;
  margin-bottom: 20px;
}

.framing-element-img {
  width: 100%;
  background-color: #fff;
}

.framing-element-desc {
  color: #112D46;
  font-weight: 400;
}

.abstract-element {
  background-color: #f1f0ee;
  padding: 30px 20px;
}

.abstract-element-desc {
  color: #112D46;
  font-weight: 600;
}
